@page "/"
@inject HttpClient Http
@inject NavigationManager Nav

<PageTitle>Patch Notes - Home</PageTitle>

<h1>Game list</h1>

<br>

@if (_toc == null)
{
    <p>Loading...</p>
}
else
{
    <h2>Latest updated game - <a href="/patch-history/docs/street-fighter-6" style="text-decoration: none;">Street Fighter 6</a></h2>

    <table class="character-table-style">
    <tbody>
        <tr>
            <td><a href="/patch-history/docs/street-fighter-6">Street Fighter 6</a></td>
            <td><a href="/patch-history/docs/tekken-8">Tekken 8</a></td>
        </tr>
    </tbody>
</table>
}

@code {
    private List<TocEntry>? _toc;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                _toc = await Http.GetFromJsonAsync<List<TocEntry>>("docs/toc.json");
            }
            catch
            {
                _toc = null;
            }
        }
    
    public class TocEntry
    {
        public string Title {get; set;} = "";
        public string Slug {get; set;} = "";
        public List<TocPage> Pages {get; set;} = new();
    }

    public class TocPage
    {
        public string Title {get; set;} = "";
        public string Slug {get; set;} = "";
    }
}